body {
  font-family: Arial, sans-serif;
}

/*Barra de Navegação*/
.navbar-toggler {
  padding: 0 15px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  margin-left: 15px;
}

/*Seção de Fotos*/
img {
  border: solid;
  border-radius: 10px;
}

/*Seção de Vídeo*/
iframe {
  border: solid;
  border-radius: 10px;
}

/* Footer */
footer {
  background-color: #343a40;
}

footer p {
  margin-bottom: 0;
}
