/* Geral */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
}

/* Barra de Navegação */
.navbar-custom {
  padding: 0 15px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logoFerrari {
  max-height: 80px;
  margin-right: 10px;
  border-radius: 1000px;
}

.navbar-nav .nav-link {
  margin-left: 15px;
}

/* Sessão de Introdução */
section.bg-dark {
  background-color: #343a40 !important;
  color: #ffffff !important;
}

section.bg-dark .display-4 {
  margin-bottom: 20px;
}

/* Sessão Sobre */
#sobre {
  background-color: #f8f9fa;
}

#sobre h2 {
  margin-bottom: 20px;
}

#sobre p {
  margin-bottom: 15px;
}

/* Sessão de Serviços */
#servicos {
  background-color: #ffffff;
}

#servicos h2 {
  margin-bottom: 20px;
}

#servicos img {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-top: 12px;
}

iframe {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

/* Sessão Profissionais */
#profissionais {
  background-color: #f8f9fa;
}

#profissionais h2 {
  margin-bottom: 20px;
}

#profissionais img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 1000px;
  border: solid 2px #101546;
}

/* Sessão Blog */
#blog {
  background-color: #ffffff;
}

#blog h2 {
  margin-bottom: 20px;
}

.autor-info {
  font-size: small;
  font-style: italic;
  margin-top: 10px;
  color: #555;
}

#blog img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

/* Sessão Clientes */
#clientes {
  background-color: #f8f9fa;
}

#clientes h2 {
  margin-bottom: 20px;
}

blockquote {
  background-color: #ffffff;
  border-left: 5px solid #343a40;
  padding: 20px;
  margin-bottom: 15px;
}

#clientes img {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-top: 10px;
  object-fit: cover;
}

/* Footer */
footer {
  background-color: #343a40;
}

footer p {
  margin-bottom: 0;
}
